.form-control {
margin-bottom: 4%;
}
.col-md-12 {
	padding-left: 0;
	padding-right: 0;
}

.col-md-6 {
	padding-left: 0;
	padding-right: 0;
}
.col-lg-3 {
	padding-left: 0;
	padding-right: 0;
}